In [1]:
import redframes as rf
import pandas as pd

In [5]:
df = rf.load("nfl.csv")
type(df)

redframes.DataFrame

In [6]:
pdf = pd.read_csv("nfl.csv")
print(type(pdf))
df = rf.wrap(pdf)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>
<class 'redframes.DataFrame'>

     Rank     ID Last Name First Name Position Team  Points    VBD  Bye Week
0       1  12626     Henry    Derrick       RB  TEN   305.8  391.2         6
1       2  14802    Taylor   Jonathan       RB  IND   303.5  388.7        14
2       3  13128      Cook     Dalvin       RB  MIN   272.5  355.9         7
3       4  13608     Penny    Rashaad       RB  SEA   260.3  343.0        11
4       5  13404    Ekeler     Austin       RB  LAC   258.0  340.6         8
..    ...    ...       ...        ...      ...  ...     ...    ...       ...
529   578  13119     Dobbs     Joshua       QB  CLE     0.2 -106.3         9
530   588  14069     Stick     Easton       QB  LAC    -0.0 -106.4         8
531   589   9706    Daniel      Chase       QB  LAC    -0.1 -106.5         8
532   590  15694    Willis      Malik       QB  TEN    -0.8 -107.0         6
533   591  15035   Wolford       John       QB  LAR    -1.5 -107.5         7

[534 rows x 9 columns]

In [7]:
pdf = rf.unwrap(df)
print(type(pdf))
pdf

<class 'pandas.core.frame.DataFrame'>

     Rank     ID Last Name First Name Position Team  Points    VBD  Bye Week
0       1  12626     Henry    Derrick       RB  TEN   305.8  391.2         6
1       2  14802    Taylor   Jonathan       RB  IND   303.5  388.7        14
2       3  13128      Cook     Dalvin       RB  MIN   272.5  355.9         7
3       4  13608     Penny    Rashaad       RB  SEA   260.3  343.0        11
4       5  13404    Ekeler     Austin       RB  LAC   258.0  340.6         8
..    ...    ...       ...        ...      ...  ...     ...    ...       ...
529   578  13119     Dobbs     Joshua       QB  CLE     0.2 -106.3         9
530   588  14069     Stick     Easton       QB  LAC    -0.0 -106.4         8
531   589   9706    Daniel      Chase       QB  LAC    -0.1 -106.5         8
532   590  15694    Willis      Malik       QB  TEN    -0.8 -107.0         6
533   591  15035   Wolford       John       QB  LAR    -1.5 -107.5         7

[534 rows x 9 columns]

In [15]:
pdf

     Rank     ID Last Name First Name Position Team  Points    VBD  Bye Week
0       1  12626     Henry    Derrick       RB  TEN   305.8  391.2         6
1       2  14802    Taylor   Jonathan       RB  IND   303.5  388.7        14
2       3  13128      Cook     Dalvin       RB  MIN   272.5  355.9         7
3       4  13608     Penny    Rashaad       RB  SEA   260.3  343.0        11
4       5  13404    Ekeler     Austin       RB  LAC   258.0  340.6         8
..    ...    ...       ...        ...      ...  ...     ...    ...       ...
529   578  13119     Dobbs     Joshua       QB  CLE     0.2 -106.3         9
530   588  14069     Stick     Easton       QB  LAC    -0.0 -106.4         8
531   589   9706    Daniel      Chase       QB  LAC    -0.1 -106.5         8
532   590  15694    Willis      Malik       QB  TEN    -0.8 -107.0         6
533   591  15035   Wolford       John       QB  LAR    -1.5 -107.5         7

[534 rows x 9 columns]

In [2]:
raw = rf.DataFrame("nfl.csv")

In [ ]:
df = rf.wrap(pdf)
rf.load()

In [ ]:
rf.pandas.unwrap(df)
rf.pandas.wrap(pdf)

In [ ]:
rf.mutation.cumsum
rf.aggregation.sum

In [ ]:
with open("file.csv") as f: 
    f.save(df)

In [3]:
raw.sample(1)

   Rank     ID Last Name First Name Position Team  Points    VBD  Bye Week
0    83  12263    Waller     Darren       TE  LVR   121.6  165.4         6

In [4]:
dict(zip(raw.columns, [c.replace(" ", "_").lower() for c in raw.columns]))

{'Rank': 'rank',
 'ID': 'id',
 'Last Name': 'last_name',
 'First Name': 'first_name',
 'Position': 'position',
 'Team': 'team',
 'Points': 'points',
 'VBD': 'vbd',
 'Bye Week': 'bye_week'}

In [5]:
df = (
    raw
    .combine(["First Name", "Last Name"], sep=" ", into="name")
    .rename({
        'Position': 'position',
        'Team': 'team',
        'Points': 'points',
        'Bye Week': 'bye'
    })
    .select(["team", "name", "position", "bye", "points"])
    .filter(lambda row: 
        (row["position"].isin(["RB", "WR"])) & 
        (row["points"] >= 100) &
        ((row["bye"] == 7) | (row["bye"] == 8))
    )
    .sort(["team", "position"])
)
# df.rows

In [7]:
rf.convert(df)
rf.wrap(df)
rf.unwrap(df)
df.unwrap_()

rf.DataFrame("nfl.csv")
DataFrame.load("nfl.csv")
rf.load("nfl.csv")
rf.DataFrame(df.data)


df = rf.io.load("nfl.csv")
df.save("nfl.csv")

df = rf.io.load("nfl.csv")
pdf = rf.io.unwrap(df)
df = rf.io.wrap(pdf)

df >> "nfl.csv"
df = rf.load("nfl.csv")
df.save("nfl.csv")

from redframes import load, wrap, unwrap

   team                   name position  bye  points
0   BUF       Devin Singletary       RB    7   192.3
1   BUF           Stefon Diggs       WR    7   183.1
2   BUF          Gabriel Davis       WR    7   168.5
3   BUF        Isaiah McKenzie       WR    7   105.3
4   KCC  Clyde Edwards-Helaire       RB    8   172.0
5   KCC        Jerick McKinnon       RB    8   103.5
6   KCC    JuJu Smith-Schuster       WR    8   154.0
7   LAC          Austin Ekeler       RB    8   258.0
8   LAC           Keenan Allen       WR    8   176.6
9   LAC          Mike Williams       WR    8   154.2
10  LAR              Cam Akers       RB    7   163.8
11  LAR            Cooper Kupp       WR    7   254.3
12  LAR         Allen Robinson       WR    7   110.1
13  MIN            Dalvin Cook       RB    7   272.5
14  MIN       Justin Jefferson       WR    7   226.3
15  MIN           Adam Thielen       WR    7   185.7
16  PHI          Miles Sanders       RB    7   162.1
17  PHI             A.J. Brown       WR    7   142.1

In [ ]:
== 
>=
<= 
!= 
>
<
&
| 
~
isin

from redframes.funcs import v as vf

f.sum

rf.funcs.sum
rf.funcs.count
rf.mean
rf.median
rf.mode
rf.min
rf.max
rf.std
rf.var

rf.cumsum
rf.cumproduct
rf.rank (dense, min, first, percent)

In [10]:
df = rf.DataFrame({"foo": ["a", "b", "c"], "bar": [1, 2, 3]})
df.join(1, on={"foo": "foo"})

TypeError: rhs must be a rf.DataFrame

In [11]:
df1 = rf.DataFrame({"foo": ["a", "b", "c"], "bar": [1, 2, 3]})
df2 = rf.DataFrame({"foo": ["a", "b", "c"], "baz": ["!", "@", "#"]})
df.join(df2, on=["foo"])

TypeError: on= argument must be a dict

In [16]:
df1 = rf.DataFrame({"foo": ["a", "b", "c"], "bar": [1, 2, 3]})
df2 = rf.DataFrame({"foo": ["a", "b", "c"], "bar": [4, 5, 6]})
df1.join(df2, on={"foo": "foo"})

  foo  bar_lhs  bar_rhs
0   a        1        4
1   b        2        5
2   c        3        6

In [17]:
df1 = rf.DataFrame({"foo": ["a", "b"], "bar": [1, 2]})
df2 = rf.DataFrame({"foo": ["a", "c"], "bar": [4, 6]})
df1.join(df2, on={"foo": "foo"})

  foo  bar_lhs  bar_rhs
0   a        1      4.0
1   b        2      NaN

In [2]:
df1 = rf.DataFrame({"foo": ["a", "b"], "bar": [1, 2]})
df2 = rf.DataFrame({"foo": ["a", "c"], "bar": [4, 6]})
df1.join(df2, on={"foo": "foo"}, method="full")

  foo  bar_lhs  bar_rhs
0   a      1.0      4.0
1   b      2.0      NaN
2   c      NaN      6.0

In [3]:
df1 = rf.DataFrame({"foo": ["a", "b", "c"], "bar": [1, 2, 3]})
df2 = rf.DataFrame({"foo": ["a", "b", "c"], "baz": ["!", "@", "#"]})
result = df1.join(df2, on={"foo": "foo"}, method="left")
expected = rf.DataFrame({"foo": ["a", "b", "c"], "bar": [1, 2, 3], "baz": ["!", "@", "#"]})
result == expected

True