In [1]:
import redframes as rf

In [2]:
df = rf.DataFrame({
    'foo': [1, 4], 
    'bar': [2, 5], 
    'baz': [3, 6]
})

df

   foo  bar  baz
0    1    2    3
1    4    5    6

In [3]:
df = df.gather(["foo", "bar"], into=("variable", "value"))
df

   baz variable  value
0    3      foo      1
1    6      foo      4
2    3      bar      2
3    6      bar      5

In [4]:
df.spread("variable", "value")

   baz  bar  foo
0    3    2    1
1    6    5    4

In [5]:
df = rf.DataFrame({
    'foo': [1, 4], 
    'bar': [2, 5], 
    'baz': [3, 6]
})

df

   foo  bar  baz
0    1    2    3
1    4    5    6

In [7]:
df.gather(["foo", "bar", "baz"]).spread("variable", "value")

   bar  baz  foo
0    2    3    1
1    5    6    4