In [1]:
import redframes as rf

df = rf.DataFrame({
    "foo": range(10),
    "bar": [1, 3.2, 4.5, 2, -1, 30, None, 1.1, 1.1, 9],
    "baz": ["A", "A", None, "B", "B", "A", "B", "C", "C", "A"],
    "jaz": [
        "1::1",
        "2::2",
        "3:3",
        "4::4",
        "5::5",
        "6::7",
        "7::8",
        "8::9",
        "9::0",
        "0::-1",
    ],
    "raz": [1, 2, 3, None, None, None, 9, 9, None, None],
})

In [ ]:
df.take(1)
df.group("baz").take(1)

In [ ]:
df.group("baz").accumulate("foo", into="foo2") # bug

In [2]:
df.group("baz").rank("bar", into="bar2", descending=True)

   foo   bar   baz    jaz  raz  bar2
0    0   1.0     A   1::1  1.0   4.0
1    1   3.2     A   2::2  2.0   3.0
2    2   4.5  None    3:3  3.0   1.0
3    3   2.0     B   4::4  NaN   1.0
4    4  -1.0     B   5::5  NaN   2.0
5    5  30.0     A   6::7  NaN   1.0
6    6   NaN     B   7::8  9.0   NaN
7    7   1.1     C   8::9  9.0   1.0
8    8   1.1     C   9::0  NaN   1.0
9    9   9.0     A  0::-1  NaN   2.0